Repository dart-lang/shelf, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, package:shelf, package:shelf_packages_handler, package:shelf_proxy, package:shelf_router, package:shelf_router_generator, package:shelf_static, package:shelf_test_handler, package:shelf_web_socket

.github/labeler.yml:

# Configuration for .github/workflows/pull_request_label.yml. 

'infra':
  - '.github/**'

'package:shelf':
  - 'pkgs/shelf/**'

'package:shelf_packages_handler':
  - 'pkgs/shelf_packages_handler/**'

'package:shelf_proxy':
  - 'pkgs/shelf_proxy/**'

'package:shelf_router':
  - 'pkgs/shelf_router/**'

'package:shelf_router_generator':
  - 'pkgs/shelf_router_generator/**'

'package:shelf_static':
  - 'pkgs/shelf_static/**'

'package:shelf_test_handler':
  - 'pkgs/shelf_test_handler/**'

'package:shelf_web_socket':
  - 'pkgs/shelf_web_socket/**'

Update CHANGELOG.md
  pkgs/shelf_router_generator/CHANGELOG.md
Labels: package:shelf_router_generator

Fix 244 (#268)
  pkgs/shelf_router_generator/CHANGELOG.md
  pkgs/shelf_router_generator/example/main.dart
  pkgs/shelf_router_generator/example/main.g.dart
  pkgs/shelf_router_generator/lib/src/shelf_router_generator.dart
  pkgs/shelf_router_generator/pubspec.yaml
Labels: package:shelf_router_generator

router_generator: allow latest pkg:analyzer, request Dart 3 (#368)
  .github/workflows/dart.yml
  pkgs/shelf_router_generator/CHANGELOG.md
  pkgs/shelf_router_generator/lib/src/shelf_router_generator.dart
  pkgs/shelf_router_generator/pubspec.yaml
Labels: infra, package:shelf_router_generator

Making the response method consistent
  pkgs/shelf/lib/src/response.dart
Labels: package:shelf

Move to latest pkg:dart_flutter_team_lints
  analysis_options.yaml
  pkgs/shelf/pubspec.yaml
  pkgs/shelf/test/add_chunked_encoding_test.dart
  pkgs/shelf/test/message_test.dart
  pkgs/shelf/test/shelf_io_test.dart
  pkgs/shelf/test/test_util.dart
  pkgs/shelf_packages_handler/pubspec.yaml
  pkgs/shelf_proxy/pubspec.yaml
  pkgs/shelf_router/example/main.dart
  pkgs/shelf_router/pubspec.yaml
  pkgs/shelf_router/test/router_test.dart
  pkgs/shelf_router_generator/pubspec.yaml
  pkgs/shelf_static/pubspec.yaml
  pkgs/shelf_test_handler/pubspec.yaml
  pkgs/shelf_test_handler/test/handler_test.dart
  pkgs/shelf_web_socket/pubspec.yaml
Labels: package:shelf, package:shelf_packages_handler, package:shelf_proxy, package:shelf_router, package:shelf_router_generator, package:shelf_static, package:shelf_test_handler, package:shelf_web_socket

and bump packages
  .github/workflows/dart.yml
  pkgs/shelf/CHANGELOG.md
  pkgs/shelf/pubspec.yaml
  pkgs/shelf_packages_handler/CHANGELOG.md
  pkgs/shelf_packages_handler/pubspec.yaml
  pkgs/shelf_proxy/CHANGELOG.md
  pkgs/shelf_proxy/pubspec.yaml
  pkgs/shelf_router/CHANGELOG.md
  pkgs/shelf_router/pubspec.yaml
  pkgs/shelf_static/CHANGELOG.md
  pkgs/shelf_static/pubspec.yaml
  pkgs/shelf_test_handler/CHANGELOG.md
  pkgs/shelf_test_handler/pubspec.yaml
  pkgs/shelf_web_socket/CHANGELOG.md
  pkgs/shelf_web_socket/pubspec.yaml
Labels: infra, package:shelf, package:shelf_packages_handler, package:shelf_proxy, package:shelf_router, package:shelf_static, package:shelf_test_handler, package:shelf_web_socket

Move to latest pkg:dart_flutter_team_lints, bump min sdk to Dart 3 (#378)
  .github/workflows/dart.yml
  analysis_options.yaml
  pkgs/shelf/CHANGELOG.md
  pkgs/shelf/pubspec.yaml
  pkgs/shelf/test/add_chunked_encoding_test.dart
  pkgs/shelf/test/message_test.dart
  pkgs/shelf/test/shelf_io_test.dart
  pkgs/shelf/test/test_util.dart
  pkgs/shelf_packages_handler/CHANGELOG.md
  pkgs/shelf_packages_handler/pubspec.yaml
  pkgs/shelf_proxy/CHANGELOG.md
  pkgs/shelf_proxy/pubspec.yaml
  pkgs/shelf_router/CHANGELOG.md
  pkgs/shelf_router/example/main.dart
  pkgs/shelf_router/pubspec.yaml
  pkgs/shelf_router/test/router_test.dart
  pkgs/shelf_router_generator/pubspec.yaml
  pkgs/shelf_static/CHANGELOG.md
  pkgs/shelf_static/pubspec.yaml
  pkgs/shelf_test_handler/CHANGELOG.md
  pkgs/shelf_test_handler/pubspec.yaml
  pkgs/shelf_test_handler/test/handler_test.dart
  pkgs/shelf_web_socket/CHANGELOG.md
  pkgs/shelf_web_socket/pubspec.yaml
Labels: infra, package:shelf, package:shelf_packages_handler, package:shelf_proxy, package:shelf_router, package:shelf_router_generator, package:shelf_static, package:shelf_test_handler, package:shelf_web_socket

Support websockets
  pkgs/shelf_proxy/lib/shelf_proxy.dart
  pkgs/shelf_proxy/pubspec.yaml
Labels: package:shelf_proxy

added test for websockets proxy
  pkgs/shelf_proxy/test/shelf_proxy_test.dart
Labels: package:shelf_proxy

better ws request url
  pkgs/shelf_proxy/lib/shelf_proxy.dart
Labels: package:shelf_proxy

shelf_router_generator: prepare to release v1.1.0
  pkgs/shelf_router_generator/CHANGELOG.md
  pkgs/shelf_router_generator/pubspec.yaml
Labels: package:shelf_router_generator

shelf_router_generator: prepare to release v1.1.0 (#380)
  pkgs/shelf_router_generator/CHANGELOG.md
  pkgs/shelf_router_generator/pubspec.yaml
Labels: package:shelf_router_generator

Add backend tag in pubspec.yaml
  pkgs/shelf/pubspec.yaml
Labels: package:shelf

Add backend tag in pubspec.yaml (#381)
  pkgs/shelf/pubspec.yaml
Labels: package:shelf

Add context to `Response.notFound` and `Response.notModified` for including `file` and `file_not_found` to be identified by other Shelf `Middleware`.
  pkgs/shelf_static/lib/src/static_handler.dart
Labels: package:shelf_static

Add context to `Response` for including `file` and `file_not_found` to be identified by other Shelf `Middleware`.
  pkgs/shelf_static/lib/src/static_handler.dart
Labels: package:shelf_static

Remove unnecessary context build when `fileFound == null`.
  pkgs/shelf_static/lib/src/static_handler.dart
Labels: package:shelf_static

Build `fileNotFound` and ensure to not expose a file path outside of the original fileSystemPath. Add `Response.context` documentation.
  pkgs/shelf_static/lib/src/static_handler.dart
Labels: package:shelf_static

`createStaticHandler`: update `Response.context` documentation.
  pkgs/shelf_static/lib/src/static_handler.dart
Labels: package:shelf_static

Run web tests with wasm with dev Dart sdk
  .github/workflows/dart.yml
  pkgs/shelf/mono_pkg.yaml
  pkgs/shelf_test_handler/mono_pkg.yaml
  tool/ci.sh
Labels: infra, package:shelf, package:shelf_test_handler

oops
  .github/workflows/dart.yml
  pkgs/shelf/CHANGELOG.md
  pkgs/shelf/pubspec.yaml
Labels: infra, package:shelf

Run web tests with wasm with dev Dart sdk (#398)
  .github/workflows/dart.yml
  pkgs/shelf/CHANGELOG.md
  pkgs/shelf/mono_pkg.yaml
  pkgs/shelf/pubspec.yaml
  pkgs/shelf_test_handler/mono_pkg.yaml
  tool/ci.sh
Labels: infra, package:shelf, package:shelf_test_handler
