Repository dart-lang/shelf, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, package:shelf, package:shelf_packages_handler, package:shelf_proxy, package:shelf_router, package:shelf_router_generator, package:shelf_static, package:shelf_test_handler, package:shelf_web_socket

loosen mime package constraint since there are no usages of the breaking change.
  pkgs/shelf_static/CHANGELOG.md
  pkgs/shelf_static/pubspec.yaml
Labels: package:shelf_static

Remove links to core types with generics
  pkgs/shelf/lib/shelf_io.dart
  pkgs/shelf/lib/src/body.dart
  pkgs/shelf/lib/src/message.dart
  pkgs/shelf/lib/src/middleware.dart
  pkgs/shelf/lib/src/request.dart
  pkgs/shelf/lib/src/response.dart
Labels: package:shelf

Eager version bump
  pkgs/shelf/CHANGELOG.md
  pkgs/shelf/pubspec.yaml
Labels: package:shelf

Remove links to core types with generics (#442)
  pkgs/shelf/CHANGELOG.md
  pkgs/shelf/lib/shelf_io.dart
  pkgs/shelf/lib/src/body.dart
  pkgs/shelf/lib/src/message.dart
  pkgs/shelf/lib/src/middleware.dart
  pkgs/shelf/lib/src/request.dart
  pkgs/shelf/lib/src/response.dart
  pkgs/shelf/pubspec.yaml
Labels: package:shelf

Loosen mime package constraint (#441)
  pkgs/shelf_static/CHANGELOG.md
  pkgs/shelf_static/pubspec.yaml
Labels: package:shelf_static

Prepare to publish shelf_static
  pkgs/shelf_static/CHANGELOG.md
  pkgs/shelf_static/pubspec.yaml
Labels: package:shelf_static

Prepare to publish shelf_static (#443)
  pkgs/shelf_static/CHANGELOG.md
  pkgs/shelf_static/pubspec.yaml
Labels: package:shelf_static

Add getParams method to router.dart
  pkgs/shelf_router/lib/src/router.dart
Labels: package:shelf_router

Added Tests and Changelog
  pkgs/shelf_router/CHANGELOG.md
  pkgs/shelf_router/test/router_test.dart
Labels: package:shelf_router

Update pkgs/shelf_router/CHANGELOG.md
  pkgs/shelf_router/CHANGELOG.md
Labels: package:shelf_router

.github/labeler.yml:

# Configuration for .github/workflows/pull_request_label.yml. 

'infra':
  - changed-files:
      - any-glob-to-any-file: '.github/**'

'package:shelf':
  - changed-files:
      - any-glob-to-any-file: 'pkgs/shelf/**'

'package:shelf_packages_handler':
  - changed-files:
      - any-glob-to-any-file: 'pkgs/shelf_packages_handler/**'

'package:shelf_proxy':
  - changed-files:
      - any-glob-to-any-file: 'pkgs/shelf_proxy/**'

'package:shelf_router':
  - changed-files:
      - any-glob-to-any-file: 'pkgs/shelf_router/**'

'package:shelf_router_generator':
  - changed-files:
      - any-glob-to-any-file: 'pkgs/shelf_router_generator/**'

'package:shelf_static':
  - changed-files:
      - any-glob-to-any-file: 'pkgs/shelf_static/**'

'package:shelf_test_handler':
  - changed-files:
      - any-glob-to-any-file: 'pkgs/shelf_test_handler/**'

'package:shelf_web_socket':
  - changed-files:
      - any-glob-to-any-file: 'pkgs/shelf_web_socket/**'
