Repository dart-lang/shelf, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, package:shelf, package:shelf_packages_handler, package:shelf_proxy, package:shelf_router, package:shelf_router_generator, package:shelf_static, package:shelf_test_handler, package:shelf_web_socket

.github/labeler.yml:

# Configuration for .github/workflows/pull_request_label.yml. 

'infra':
  - changed-files:
      - any-glob-to-any-file: '.github/**'

'package:shelf':
  - changed-files:
      - any-glob-to-any-file: 'pkgs/shelf/**'

'package:shelf_packages_handler':
  - changed-files:
      - any-glob-to-any-file: 'pkgs/shelf_packages_handler/**'

'package:shelf_proxy':
  - changed-files:
      - any-glob-to-any-file: 'pkgs/shelf_proxy/**'

'package:shelf_router':
  - changed-files:
      - any-glob-to-any-file: 'pkgs/shelf_router/**'

'package:shelf_router_generator':
  - changed-files:
      - any-glob-to-any-file: 'pkgs/shelf_router_generator/**'

'package:shelf_static':
  - changed-files:
      - any-glob-to-any-file: 'pkgs/shelf_static/**'

'package:shelf_test_handler':
  - changed-files:
      - any-glob-to-any-file: 'pkgs/shelf_test_handler/**'

'package:shelf_web_socket':
  - changed-files:
      - any-glob-to-any-file: 'pkgs/shelf_web_socket/**'

Update shelf_router README
  pkgs/shelf_router/README.md
Labels: package:shelf_router

Add middleware to example
  pkgs/shelf_router/example/main.dart
Labels: package:shelf_router

Add shelf_router middleware examples (#417)
  pkgs/shelf_router/README.md
  pkgs/shelf_router/example/main.dart
Labels: package:shelf_router

Remove support for requests not made through dart:io Sockets
  pkgs/shelf_web_socket/CHANGELOG.md
  pkgs/shelf_web_socket/lib/src/web_socket_handler.dart
  pkgs/shelf_web_socket/pubspec.yaml
  pkgs/shelf_web_socket/test/web_socket_test.dart
Labels: package:shelf_web_socket

Update pubspec.yaml
  pkgs/shelf_web_socket/pubspec.yaml
Labels: package:shelf_web_socket

Update pubspec.yaml
  pkgs/shelf_web_socket/pubspec.yaml
Labels: package:shelf_web_socket

Update version
  pkgs/shelf_web_socket/CHANGELOG.md
  pkgs/shelf_web_socket/pubspec.yaml
Labels: package:shelf_web_socket

Update pubspec.yaml
  pkgs/shelf_web_socket/pubspec.yaml
Labels: package:shelf_web_socket

Update pubspec.yaml
  pkgs/shelf_web_socket/pubspec.yaml
Labels: package:shelf_web_socket

Update pubspec.yaml
  pkgs/shelf_web_socket/pubspec.yaml
Labels: package:shelf_web_socket

Remove support for requests not made through dart:io Sockets (#423)
  pkgs/shelf_web_socket/CHANGELOG.md
  pkgs/shelf_web_socket/lib/src/web_socket_handler.dart
  pkgs/shelf_web_socket/pubspec.yaml
  pkgs/shelf_web_socket/test/web_socket_test.dart
Labels: package:shelf_web_socket

Prepare shelf_web_socket 2.0 for release
  pkgs/shelf_web_socket/CHANGELOG.md
  pkgs/shelf_web_socket/pubspec.yaml
Labels: package:shelf_web_socket

Prepare shelf_web_socket 2.0 for release (#425)
  pkgs/shelf_web_socket/CHANGELOG.md
  pkgs/shelf_web_socket/pubspec.yaml
Labels: package:shelf_web_socket

Remove `dependency_overrides`
  pkgs/shelf_web_socket/CHANGELOG.md
  pkgs/shelf_web_socket/pubspec.yaml
Labels: package:shelf_web_socket

Update pubspec.yaml
  pkgs/shelf_web_socket/pubspec.yaml
Labels: package:shelf_web_socket

Update CHANGELOG.md
  pkgs/shelf_web_socket/CHANGELOG.md
Labels: package:shelf_web_socket

Remove `dependency_overrides` (#429)
  pkgs/shelf_web_socket/CHANGELOG.md
  pkgs/shelf_web_socket/pubspec.yaml
Labels: package:shelf_web_socket

blast_repo fixes
  .github/dependabot.yml
Labels: infra

blast_repo fixes (#430)
  .github/dependabot.yml
Labels: infra

update lints dependency
  .github/workflows/dart.yml
  pkgs/shelf/CHANGELOG.md
  pkgs/shelf/lib/src/cascade.dart
  pkgs/shelf/lib/src/request.dart
  pkgs/shelf/lib/src/server_handler.dart
  pkgs/shelf/pubspec.yaml
  pkgs/shelf_packages_handler/CHANGELOG.md
  pkgs/shelf_packages_handler/lib/src/package_config_handler.dart
  pkgs/shelf_packages_handler/pubspec.yaml
  pkgs/shelf_proxy/CHANGELOG.md
  pkgs/shelf_proxy/pubspec.yaml
  pkgs/shelf_router/CHANGELOG.md
  pkgs/shelf_router/pubspec.yaml
  pkgs/shelf_router_generator/CHANGELOG.md
  pkgs/shelf_router_generator/pubspec.yaml
  pkgs/shelf_static/CHANGELOG.md
  pkgs/shelf_static/pubspec.yaml
  pkgs/shelf_test_handler/CHANGELOG.md
  pkgs/shelf_test_handler/pubspec.yaml
  pkgs/shelf_web_socket/CHANGELOG.md
  pkgs/shelf_web_socket/lib/src/web_socket_handler.dart
  pkgs/shelf_web_socket/pubspec.yaml
Labels: infra, package:shelf, package:shelf_packages_handler, package:shelf_proxy, package:shelf_router, package:shelf_router_generator, package:shelf_static, package:shelf_test_handler, package:shelf_web_socket

oops
  pkgs/shelf_router/lib/shelf_router.dart
  pkgs/shelf_router_generator/lib/builder.dart
Labels: package:shelf_router, package:shelf_router_generator

oops
  pkgs/shelf_router_generator/pubspec.yaml
Labels: package:shelf_router_generator

update lints dependency (#433)
  .github/workflows/dart.yml
  pkgs/shelf/CHANGELOG.md
  pkgs/shelf/lib/src/cascade.dart
  pkgs/shelf/lib/src/request.dart
  pkgs/shelf/lib/src/server_handler.dart
  pkgs/shelf/pubspec.yaml
  pkgs/shelf_packages_handler/CHANGELOG.md
  pkgs/shelf_packages_handler/lib/src/package_config_handler.dart
  pkgs/shelf_packages_handler/pubspec.yaml
  pkgs/shelf_proxy/CHANGELOG.md
  pkgs/shelf_proxy/pubspec.yaml
  pkgs/shelf_router/CHANGELOG.md
  pkgs/shelf_router/lib/shelf_router.dart
  pkgs/shelf_router/pubspec.yaml
  pkgs/shelf_router_generator/CHANGELOG.md
  pkgs/shelf_router_generator/lib/builder.dart
  pkgs/shelf_router_generator/pubspec.yaml
  pkgs/shelf_static/CHANGELOG.md
  pkgs/shelf_static/pubspec.yaml
  pkgs/shelf_test_handler/CHANGELOG.md
  pkgs/shelf_test_handler/pubspec.yaml
  pkgs/shelf_web_socket/CHANGELOG.md
  pkgs/shelf_web_socket/lib/src/web_socket_handler.dart
  pkgs/shelf_web_socket/pubspec.yaml
Labels: infra, package:shelf, package:shelf_packages_handler, package:shelf_proxy, package:shelf_router, package:shelf_router_generator, package:shelf_static, package:shelf_test_handler, package:shelf_web_socket

[shelf_test_handler] Bump dev deps
  pkgs/shelf_test_handler/pubspec.yaml
Labels: package:shelf_test_handler

[shelf_test_handler] Bump dev deps (#435)
  pkgs/shelf_test_handler/pubspec.yaml
Labels: package:shelf_test_handler

* `Headers`: * Optimize constructor `_`: use `CaseInsensitiveMap.fromEntries`.
  pkgs/shelf/CHANGELOG.md
  pkgs/shelf/lib/src/headers.dart
Labels: package:shelf

headers_test.dart
  pkgs/shelf/test/headers_test.dart
Labels: package:shelf

* `Response`: * Populate `context` with the file system paths used for resolution. * Possible entries: `shelf_static:file`, `shelf_static:file_not_found`, and `shelf_static:directory`.
  pkgs/shelf_static/CHANGELOG.md
  pkgs/shelf_static/lib/src/directory_listing.dart
  pkgs/shelf_static/lib/src/static_handler.dart
  pkgs/shelf_static/lib/src/util.dart
Labels: package:shelf_static

test `Response.context`.
  pkgs/shelf_static/test/alternative_root_test.dart
  pkgs/shelf_static/test/basic_file_test.dart
  pkgs/shelf_static/test/create_file_handler_test.dart
  pkgs/shelf_static/test/default_document_test.dart
  pkgs/shelf_static/test/directory_listing_test.dart
  pkgs/shelf_static/test/symbolic_link_test.dart
  pkgs/shelf_static/test/test_util.dart
Labels: package:shelf_static

Improve documentation
  pkgs/shelf_static/lib/src/static_handler.dart
Labels: package:shelf_static

Fix tests for windows
  pkgs/shelf_static/test/basic_file_test.dart
  pkgs/shelf_static/test/create_file_handler_test.dart
  pkgs/shelf_static/test/default_document_test.dart
  pkgs/shelf_static/test/symbolic_link_test.dart
Labels: package:shelf_static

Small fix for `createFileHandler` and window paths
  pkgs/shelf_static/lib/src/static_handler.dart
Labels: package:shelf_static

optimize using request.url.pathSegments to build File
  pkgs/shelf_static/lib/src/static_handler.dart
Labels: package:shelf_static

http_parser: ^4.1.0
  pkgs/shelf/CHANGELOG.md
  pkgs/shelf/pubspec.yaml
Labels: package:shelf

tiny cleanup
  pkgs/shelf/lib/src/headers.dart
Labels: package:shelf

changelog tweaks
  pkgs/shelf/CHANGELOG.md
  pkgs/shelf/pubspec.yaml
Labels: package:shelf

tiny cleanup
  pkgs/shelf/lib/src/headers.dart
Labels: package:shelf

bump sdk dep on shelf
  .github/workflows/dart.yml
  pkgs/shelf/CHANGELOG.md
  pkgs/shelf/pubspec.yaml
Labels: infra, package:shelf

more cleanup
  pkgs/shelf/lib/src/headers.dart
Labels: package:shelf

`Headers.fromEntries`: using `CaseInsensitiveMap.fromEntries` (#437)
  .github/workflows/dart.yml
  pkgs/shelf/CHANGELOG.md
  pkgs/shelf/lib/src/headers.dart
  pkgs/shelf/pubspec.yaml
  pkgs/shelf/test/headers_test.dart
Labels: infra, package:shelf
