Repository dart-lang/shelf, pull requests merged in 2023-05, with the labels that each got.

#345 add topics to the pubspec files
  pkgs/shelf/CHANGELOG.md
  pkgs/shelf/pubspec.yaml
  pkgs/shelf_packages_handler/CHANGELOG.md
  pkgs/shelf_packages_handler/pubspec.yaml
  pkgs/shelf_proxy/CHANGELOG.md
  pkgs/shelf_proxy/pubspec.yaml
  pkgs/shelf_router/CHANGELOG.md
  pkgs/shelf_router/pubspec.yaml
  pkgs/shelf_router_generator/pubspec.yaml
  pkgs/shelf_static/CHANGELOG.md
  pkgs/shelf_static/pubspec.yaml
  pkgs/shelf_test_handler/CHANGELOG.md
  pkgs/shelf_test_handler/pubspec.yaml
  pkgs/shelf_web_socket/CHANGELOG.md
  pkgs/shelf_web_socket/pubspec.yaml
Labels: package:shelf, package:shelf_packages_handler, package:shelf_proxy, package:shelf_router, package:shelf_router_generator, package:shelf_static, package:shelf_test_handler, package:shelf_web_socket

#346 add package topics for package:shelf_router_generator
  .github/workflows/publish.yaml
  pkgs/shelf_router_generator/CHANGELOG.md
  pkgs/shelf_router_generator/pubspec.yaml
Labels: infra, package:shelf_router_generator, publish-ignore-warnings

#349 Update no-response.yml
  .github/workflows/no-response.yml
Labels: infra

#351 blast_repo fixes
  .github/dependabot.yml
Labels: infra

#356 blast repo changes: no-response
  .github/workflows/no-response.yml
Labels: infra

#360 Require Dart 2.19, latest lints, support latest pkg:http
  .github/workflows/dart.yml
  pkgs/shelf/CHANGELOG.md
  pkgs/shelf/lib/shelf_io.dart
  pkgs/shelf/pubspec.yaml
  pkgs/shelf/test/io_server_test.dart
  pkgs/shelf/test/shelf_io_test.dart
  pkgs/shelf_packages_handler/CHANGELOG.md
  pkgs/shelf_packages_handler/lib/shelf_packages_handler.dart
  pkgs/shelf_packages_handler/lib/src/dir_handler.dart
  pkgs/shelf_packages_handler/pubspec.yaml
  pkgs/shelf_proxy/CHANGELOG.md
  pkgs/shelf_proxy/pubspec.yaml
  pkgs/shelf_router/CHANGELOG.md
  pkgs/shelf_router/example/main.dart
  pkgs/shelf_router/pubspec.yaml
  pkgs/shelf_router/test/router_test.dart
  pkgs/shelf_router_generator/CHANGELOG.md
  pkgs/shelf_router_generator/example/main.dart
  pkgs/shelf_router_generator/example/main.g.dart
  pkgs/shelf_router_generator/lib/src/shelf_router_generator.dart
  pkgs/shelf_router_generator/pubspec.yaml
  pkgs/shelf_router_generator/test/server/api.g.dart
  pkgs/shelf_router_generator/test/server/server.dart
  pkgs/shelf_router_generator/test/server/service.g.dart
  pkgs/shelf_static/CHANGELOG.md
  pkgs/shelf_static/example/example.dart
  pkgs/shelf_static/pubspec.yaml
  pkgs/shelf_test_handler/CHANGELOG.md
  pkgs/shelf_test_handler/lib/src/server.dart
  pkgs/shelf_test_handler/pubspec.yaml
  pkgs/shelf_test_handler/test/server_test.dart
  pkgs/shelf_web_socket/CHANGELOG.md
  pkgs/shelf_web_socket/pubspec.yaml
  tool/ci.sh
Labels: infra, package:shelf, package:shelf_packages_handler, package:shelf_proxy, package:shelf_router, package:shelf_router_generator, package:shelf_static, package:shelf_test_handler, package:shelf_web_socket

#361 shelf_router_generator: drop logging pin, enable ensure_build test
  .github/workflows/dart.yml
  pkgs/shelf_router_generator/dart_test.yaml
  pkgs/shelf_router_generator/mono_pkg.yaml
  pkgs/shelf_router_generator/pubspec.yaml
  pkgs/shelf_router_generator/test/ensure_build_test.dart
  tool/ci.sh
Labels: infra, package:shelf_router_generator

#362 re-generate w/ the latest monorepo
  .github/workflows/dart.yml
  tool/ci.sh
Labels: infra
