Repository dart-lang/shelf, pull requests merged in 2023-09, with the labels that each got.

#378 Move to latest pkg:dart_flutter_team_lints
  .github/workflows/dart.yml
  analysis_options.yaml
  pkgs/shelf/CHANGELOG.md
  pkgs/shelf/pubspec.yaml
  pkgs/shelf/test/add_chunked_encoding_test.dart
  pkgs/shelf/test/message_test.dart
  pkgs/shelf/test/shelf_io_test.dart
  pkgs/shelf/test/test_util.dart
  pkgs/shelf_packages_handler/CHANGELOG.md
  pkgs/shelf_packages_handler/pubspec.yaml
  pkgs/shelf_proxy/CHANGELOG.md
  pkgs/shelf_proxy/pubspec.yaml
  pkgs/shelf_router/CHANGELOG.md
  pkgs/shelf_router/example/main.dart
  pkgs/shelf_router/pubspec.yaml
  pkgs/shelf_router/test/router_test.dart
  pkgs/shelf_router_generator/pubspec.yaml
  pkgs/shelf_static/CHANGELOG.md
  pkgs/shelf_static/pubspec.yaml
  pkgs/shelf_test_handler/CHANGELOG.md
  pkgs/shelf_test_handler/pubspec.yaml
  pkgs/shelf_test_handler/test/handler_test.dart
  pkgs/shelf_web_socket/CHANGELOG.md
  pkgs/shelf_web_socket/pubspec.yaml
Labels: package:shelf, package:shelf_packages_handler, package:shelf_proxy, package:shelf_router, package:shelf_router_generator, package:shelf_static, package:shelf_test_handler, package:shelf_web_socket, infra

#380 shelf_router_generator: prepare to release v1.1.0
  pkgs/shelf_router_generator/CHANGELOG.md
  pkgs/shelf_router_generator/pubspec.yaml
Labels: package:shelf_router_generator, publish-ignore-warnings

#381 Add backend tag in pubspec.yaml
  pkgs/shelf/pubspec.yaml
Labels: package:shelf
