Repository dart-lang/shelf, pull requests merged in 2023-07, with the labels that each got.

#367 address a new lint
  pkgs/shelf/test/shelf_io_test.dart
Labels: package:shelf

#268 Fix 244
  pkgs/shelf_router_generator/CHANGELOG.md
  pkgs/shelf_router_generator/example/main.dart
  pkgs/shelf_router_generator/example/main.g.dart
  pkgs/shelf_router_generator/lib/src/shelf_router_generator.dart
  pkgs/shelf_router_generator/pubspec.yaml
Labels: package:shelf_router_generator

#368 router_generator: allow latest pkg:analyzer, request Dart 3
  .github/workflows/dart.yml
  pkgs/shelf_router_generator/CHANGELOG.md
  pkgs/shelf_router_generator/lib/src/shelf_router_generator.dart
  pkgs/shelf_router_generator/pubspec.yaml
Labels: infra, package:shelf_router_generator
