Repository dart-lang/shelf, pull requests merged in 2024-05, with the labels that each got.

#425 Prepare shelf_web_socket 2.0 for release
  pkgs/shelf_web_socket/CHANGELOG.md
  pkgs/shelf_web_socket/pubspec.yaml
Labels: package:shelf_web_socket

#429 Remove `dependency_overrides`
  pkgs/shelf_web_socket/CHANGELOG.md
  pkgs/shelf_web_socket/pubspec.yaml
Labels: package:shelf_web_socket

#430 blast repo changes: dependabot
  .github/dependabot.yml
Labels: infra

#433 update lints dependency
  .github/workflows/dart.yml
  pkgs/shelf/CHANGELOG.md
  pkgs/shelf/lib/src/cascade.dart
  pkgs/shelf/lib/src/request.dart
  pkgs/shelf/lib/src/server_handler.dart
  pkgs/shelf/pubspec.yaml
  pkgs/shelf_packages_handler/CHANGELOG.md
  pkgs/shelf_packages_handler/lib/src/package_config_handler.dart
  pkgs/shelf_packages_handler/pubspec.yaml
  pkgs/shelf_proxy/CHANGELOG.md
  pkgs/shelf_proxy/pubspec.yaml
  pkgs/shelf_router/CHANGELOG.md
  pkgs/shelf_router/lib/shelf_router.dart
  pkgs/shelf_router/pubspec.yaml
  pkgs/shelf_router_generator/CHANGELOG.md
  pkgs/shelf_router_generator/lib/builder.dart
  pkgs/shelf_router_generator/pubspec.yaml
  pkgs/shelf_static/CHANGELOG.md
  pkgs/shelf_static/pubspec.yaml
  pkgs/shelf_test_handler/CHANGELOG.md
  pkgs/shelf_test_handler/pubspec.yaml
  pkgs/shelf_web_socket/CHANGELOG.md
  pkgs/shelf_web_socket/lib/src/web_socket_handler.dart
  pkgs/shelf_web_socket/pubspec.yaml
Labels: package:shelf, package:shelf_packages_handler, package:shelf_proxy, package:shelf_router, package:shelf_router_generator, package:shelf_static, package:shelf_test_handler, package:shelf_web_socket, infra
